body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Roboto', sans-serif;
  background: url("../images/bg.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  background-size: cover;
  /* overflow-y:hidden; */
  height: 880px;
}

/* 隐藏滚动条 */

::-webkit-scrollbar {
  display: none;
}

.main-container ul {
  margin: 0;
  max-height: 280px;
  overflow-y: scroll;
  -webkit-appearance: none;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

/* 导航栏部分 */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: #1170b4;
  color: #fff;
  font-size: 32px;
  z-index: 5;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.user {
  position: absolute;
  left: 15px;
  top: 5px;
  padding: 5px;
}

.user h2 {
  font-size: 20px;
  display: inline;
}

.user-set i {
  margin-right: 10px;
}

.user-set a {
  /* position: relative; */
  color: #fff;
  margin: 15px 5px;
  top: 5px;
  /* width: 100px; */
}

.user-set a:hover {
  color: #000;
}

.user-set a:hover i {
  color: #000;
}

.user:hover div.user-set {
  display: block;
}

.user:hover h2 {
  display: none;
}

.user .user-set {
  top: 8px;
  display: none;
  font-size: 15px;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #0096f9;
  box-shadow: #000 3px 3px 5px;
}

.title {
  font-family: 'Work Sans', sans-serif;
  margin-top: 12px;
  margin-left: 15%;
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
}

.fa-window-maximize:hover,
.fa-user:hover {
  color: #06324f;
}

.middle-box {
  position: absolute;
  text-align: center;
  top: 12px;
  left: 50%;
  margin-left: -175px;
  width: 350px;
  user-select: none;
  -webkit-user-select: none;
}

.line {
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
  top: 19px;
  left: 40px;
}

.line-rigth {
  left: 290px;
}

.navbar i {
  text-align: center;
  vertical-align: center;
  color: #fff;
}

.date {
  display: inline-block;
  text-align: center;
}

/* 分享 */

.contact {
  font-family: 'Work Sans', sans-serif;
  /* position: absolute; */
  float: right;
  padding: 20px;
  top: 0;
  right: 30%;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.contact:hover {
  transition: 0.2s;
  background: #1485d5;
}

.contact:hover .contact-tooltip {
  visibility: visible;
  -webkit-animation: lendab;
  animation: lendab;
  animation-duration: 0.4s;
}

.contact-tooltip {
  position: absolute;
  top: 0;
  right: 36px;
  height: 34px;
  font-size: 24px;
  width: 130px;
  visibility: hidden;
  padding: 15px;
  color: white;
}

.hideNav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 9%;
  background-color: #0096f9;
  font-size: 100%;
  line-height: 100%;
  box-shadow: 0px -1px 2px #000;
  overflow: hidden;
  z-index: 999999999999999999999;
  display: none;
}

.hideNav i {
  line-height: 100%;
  height: 100%;
  width: 20%;
  font-size: 2.4em;
  color: #fff;
  /* padding-top:10px;  */
  /* margin: 0 3.8%;  */
}

.hideNav i:hover {
  /* color: #7db2da; */
  /* border: 1px solid #07304e; */
  background-color: #1485d5;
}

.hideNav i p {
  font-size: .5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.contact-tooltip i {
  padding: 5px;
}

.contact-tooltip i:hover {
  cursor: pointer;
  color: #07304e;
}

.navbar .search {
  position: absolute;
  top: 12px;
  right: 15%;
  margin: 4px;
  /* max-width: 20%; */
  height: 30px;
  /* border: 1px solid #26a69a; */
  border-radius: 30px;
  background-color: #fff;
}

.search input[type="text"] {
  /* border: 1px solid #26a69a; */
  border-radius: 30px;
  margin-right: 40px;
  text-indent: 8px;
  float: right;
  width: 80%;
  height: 100%;
  border: none;
  font-size: 15px;
  transition: width .6s;
}

.search input:focus {
  width: 120%;
}

.search i {
  font-size: 25px;
  position: absolute;
  display: inline;
  float: right;
  right: 5px;
  height: 80%;
  color: #1485d5;
}

.main-container {
  margin-top: 6%;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  position: absolute;
  width: 640px;
  height: 400px;
  background-color: white;
  text-align: left;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover {
  -webkit-box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 50px #000;
  transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.card-header {
  padding: 20px;
  font-size: 24px;
}

.todo {
  left: 15%;
  height: 820px;
  width: 34.6%;
}

.btn-circle {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #7eb3db;
  z-index: 2;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.done-show {
  background: white;
  z-index: 4;
  bottom: 14px;
  right: 14px;
  /* visibility: hidden; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-circle .tooltip {
  position: absolute;
  font-weight: 500;
  white-space: nowrap;
  visibility: hidden;
  font-size: 12px;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  top: 5px;
  right: 48px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: 1;
}

.btn-circle:hover .tooltip {
  -webkit-animation: lendab;
  animation: lendab;
  animation-duration: 0.4s;
  visibility: visible;
}

.done-show i {
  margin-top: 9px;
  font-size: 24px;
  color: #7eb3db;
}

.done-show:hover {
  background: #1170b4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.done-show:hover i {
  color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.card-header .btn-circle {
  top: 14px;
  right: 14px;
}

.card-header .btn-circle:hover {
  background: #1170b4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-header i {
  margin-top: 8px;
  font-size: 24px;
}

.main-container ul li {
  padding: 14.5px 30px;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  position: relative;
}

li .btn {
  position: absolute;
  cursor: pointer;
  margin: -5px 0 0 0;
  right: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  color: #26a69a;
}

li .btn:hover>i {
  color: #00838f;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.card-header input {
  font-size: inherit;
  border: none;
}

.card-header input::placeholder {
  color: black;
}

input:focus {
  outline: none;
}

input:disabled {
  background: none;
}

.list-date:hover {
  background: #fff;
}

.notes {
  right: 15%;
  width: 34.5%;
}

.tags {
  right: 30.5%;
  /* top: 47.3%; */
  bottom: 7%;
  width: 19%;
  overflow: hidden;
}

.clender {
  right: 15%;
  bottom: 7%;
  width: 14.9%;
}

textarea {
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  padding: 20px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  font-size: 20px;
  outline: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tags a {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #7eb3db;
  font-weight: bold;
  padding: 3px 6px;
  text-decoration: none;
}

#tags a:hover {
  border: 1px solid #eee;
  background: #000;
  border-radius: 5px;
}

#clender .layui-laydate-main {
  width: 100%;
  height: 90%;
}

.userView {
  position: absolute;
  top: 30%;
  left: 32%;
  transform: translate(-50%, -50%);
  /* border-radius: 5%; */
  width: 35%;
  height: 43%;
  box-shadow: #8DB6CD 0px 0px 500000px;
  z-index: 99999999999999999999999999999999999;
  display: none;
}

.userView iframe {
  width: 100%;
  /* border-radius: 5%; */
  height: 100%;
}

.userView .close {
  position: absolute;
  right: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
  background: silver;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0px black;
  cursor: pointer;
}

.userView .close:hover {
  background: #1274bb;
}

.userView .close:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
  top: 20px;
  left: 10px;
}

.userView .close:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 10px;
  background: white;
  transform: rotate(-45deg);
  top: 20px;
  left: 10px;
}

#search_re {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color:#999; */
}

#search_re .notebook {
  /* padding-left: 10px; */
  text-indent: 8px;
  /* margin-bottom: 50px; */
  margin: 3px auto 50px;
  padding-bottom: 15px;
  /* line-height: 30px; */
  width: 97%;
  background-color: #C6E2FF;
  font-size: 1.7em;
  box-shadow: 0px 0px 15px #000;
}

#search_re .note {
  background-color: seashell;
  width: 95%;
  margin: 5px auto;
  text-indent: 10px;
  padding: 5px;
  font-size: 15px;
  height: 5em;
}

#search_re .note:hover {
  background: #26a69a;
  box-shadow: 0px 0px 8px #000;
}

.note span {
  /* position:relative; */

  color: #999;
  float: right;
  margin-bottom: 15px;
  /* position: relative; */
  right: 12px;
  bottom:4px;
}
.notice i {
  color:#7eb3db;
  margin:5px;
}
.notice i:hover {
  color:#26a69a;
}
.iconBar {
  position:relative;
  top:30px;
  left:137px;
  float:right;

}
.iconBar i{
  font-size:1.5em;
  color:#444;
}
.iconBar i:hover{
  color:#7eb3db;
}
#search_re .note:hover a {
  color: #fff;
}

#search_re .notice {
  position: relative;
  text-align: center;
  top: 40%;
  font-weight: bold;
  font-size: 2em;
  color: #999;
}

/* #############      动画      ############### */

@keyframes uptoremove {
  0% {
    top: 50%;
    left: 50%;
    opacity: 0.8;
  }
  30% {
    top: 20%;
    left: 50%;
    opacity: 0.6;
  }
  60% {
    top: -10%;
    left: 50%;
    opacity: .3;
  }
  90% {
    top: -40%;
    left: 50%;
    opacity: .2;
  }
  100% {
    top: -40%;
    left: 50%;
    opacity: .1;
  }
}

@-webkit-keyframes lendab {
  0% {
    opacity: 0;
    right: 40px;
  }
  70% {
    opacity: 0;
    right: 40px;
  }
}

@keyframes lendab {
  0% {
    opacity: 0;
    right: 40px;
  }
  70% {
    opacity: 0;
    right: 40px;
  }
}

/* #############     响应式      ############### */

@media screen and (max-width: 1550px) and (min-width:1324px) {
  body {
    height: 100%;
  }
  .main-container {
    /* bottom: 4%; */
    /* margin-top: -2%; */
    height: 86%;
  }
  .card {
    width: 35%;
    /* height: 50%; */
  }
  .todo {
    left: 15%;
    height: 90%;
  }
  .clender {
    display: none;
    /* right: 15%; */
  }
  #clender .layui-laydate-main {
    max-width: 100%;
    width: 100%;
    height: 85%;
  }
  .tags {
    width: 33%;
    height: 50%;
    bottom: 9.3%;
    right: 15%;
  }
  .notes {
    height: 36%;
    width: 33%;
  }
  ul {
    max-height: 238px;
  }
  .card-header {
    padding: 16px;
  }
  .btn-circle {
    width: 36px;
    height: 36px;
  }
  .card-header input {
    width: 250px;
  }
  .todo .btn-circle i {
    margin-top: 6px;
  }
  .card ul li {
    padding: 12px 20px;
  }
  li .btn {
    right: 12px;
  }
  #search_re {
    height: 89%;
  }
}

@media screen and (max-width: 1324px) and (min-width: 1124px) {
  html,
  body {
    /* height: 100%; */
    overflow-y: hidden;
  }
  .main-container {
    /* height: 80%; */
  }
  .card {
    height: 42%;
  }
  .todo {
    width: 43%;
  }
  /* .tags, */
  .clender {
    top: 0;
    width: 26%;
    height: 41%;
  }
  .tags {
    bottom: 15%;
    width: 34.6%;
    left: 15%;
  }
  .notes {
    bottom: 15%;
  }
  .layui-laydate-main {
    width: 100%;
    border: none;
    height: 99%;
  }
  ul {
    max-height: 197px;
  }
  .card-header {
    padding: 14px;
    font-size: 20px;
  }
  .card-header input {
    width: 200px;
  }
  .card ul li {
    padding: 10px 20px;
    font-size: 12px;
  }
  .card-header .btn-circle {
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
  }
  .done-show {
    bottom: 8px;
    right: 8px;
  }
  .btn-circle i {
    margin-top: 6px;
  }
  li .btn {
    right: 6px;
  }
  textarea {
    font-size: 20px;
    border: none;
  }
  textarea:focus {
    font-size: 14px;
  }
  #search_re {
    height: 83%;
  }
}

@media screen and (max-width: 1124px) {
  .layui-container {
    padding: 0;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  .main-container {
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    border: none;
  }
  .card,
  .notes,
  .clender,
  .tags,
  .todo {
    left: 0;
    top: 0;
    width: 100%;
    height: 91%;
    border: none;
  }
  .hideNav {
    display: block;
  }
  #rcs-app,
  .navbar,
  .todo,
  .clender,
  .tags,
  .notes,
  .user,
  .contact,
  .search,
  .title {
    display: none;
  }
}
