* {
    padding: 0;
    margin: 0
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.jpg);
    overflow: hidden;
}

.user-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    /* margin: 0 auto; */
    width: 80%;
    height:80%;
    border-radius: 5%;
    box-shadow: #000 5px 5px 5px;
    /* text-align: center; */
    padding: 30px;
}
.layui-form-item{
    position: relative;
    left: 40%;
}
.layui-btn{
    background-color: #0096f9;
}
input {
    border: none;
    border-bottom: #fff;
}