* {
    padding: 0;
    margin: 0
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-image: url(../images/bg.jpg); */
    background-color:#a5c4d9;
    overflow: hidden;
}
label {
    font-weight: bold;
    font-size: 17px;
}

.layui-form {
    position: absolute;
    top: 50%;
    left: 61%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* margin: 0 auto; */
    width: 95%;
    /* height:80%; */
    border-radius: 5%;
    /* text-align: center; */
    padding-top: 5%;
    padding-right: 5%;
}
.layui-form-item{
    position: relative;
    margin: 22px;
    /* left: 40%; */
}
.layui-input {
    height: 25px;
    border: none;
    background: transparent;
    border-bottom:#fff solid 3px; 
}
.layui-btn{
    background-color: #0096f9;
    float: right;
    margin-right: 50px;
}
input {
    border: none;
    border-bottom: #fff;
}
label.layui-form-label{
    font-weight: bold;
}
.pskform{
    display: none;

}